<div id="dialog" class="event-dialog" title="Event">
    <div id="dialog-inner">
        Event Name: <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all title"><br><br />
        <!-- Event Photo: <input type="file" name="photo" id="photo" class="text ui-widget-content ui-corner-all title"><br><br /> -->
        <span class="inline">From: <input type="text" name="date-start" id="date-start" class="text ui-widget-content ui-corner-all"></span>
        <span class="inline"><input type="text" name="time" id="time-start" class="text ui-widget-content ui-corner-all"></span><br /><br />
        <span class="inline">To: </span> <span class="inline"><input type="text" name="date" id="date-end" class="text ui-widget-content ui-corner-all"></span>
        <span class="inline"><input type="text" name="time" id="time-end" class="text ui-widget-content ui-corner-all"></span>
        <span class="inline">&nbsp;All day <input id="all-day" type="checkbox"></span> <br /><br />
        <label for="description">Description:</label> 
        <textarea name="description" id="description" class="text ui-widget-content ui-corner-all" rows="8" cols="73"></textarea>
    </div>
</div>
<div id="birthday-dialog" class="dialog">
    <div id="dialog-inner">
        <span id="birthday-picture"></span>
        <span id="birthday-date"></span><br /><br />
        <span style="clear: both;"></span>
        <span id="birthday-link"><a href="" target="_blank">Wish Happy Birthday!</a></span>
    </div>
</div>
<div id="event-dialog" class="dialog">
    <div id="dialog-inner">
        <span id="event-picture"></span>
        <span id="event-date"></span><br /><br />
        <span id="event-description"></span><br /><br />
        <span style="clear: both;"></span>
        <span id="event-link"><a href="" target="_blank">Visit Event</a></span>
    </div>
</div>